<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
    <%- include('nav.ejs') %>

        <h1>Welcome to Our Site</h1>
        <p>This is the homepage of our application.</p>
        <% if (user) { %>
            <a href="/posts/write">Write a New Post</a>
            <a href="/posts/list">View All Posts</a>

            <a href="/stream/start-stream">Start a Live Stream</a>
            <% } else { %>
                <p><a href="/login">Login</a> or <a href="/register">Sign Up</a> to start writing posts!</p>
                <% } %>
</body>

</html>