<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="/stream/livestream">Start a Live Stream</a>
    <link href="/public/main.css" rel="stylesheet">
</head>

<body>
    <%- include('nav.ejs') %>
        <div class="container">
            <h2>Start a New Live Stream</h2>
            <form action="/start-stream" method="POST">
                <div class="form-group">
                    <label for="title">Stream Title</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <button type="submit">Start Streaming</button>
            </form>
        </div>
</body>

</html>