<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a Post</title>
</head>

<body>
        <%- include('nav.ejs') %>

    <h1>Write a Post</h1>
<form action="/posts/add" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" placeholder="Content"></textarea>
    <input type="file" name="img1">
    <button type="submit">Submit</button>
</form>


</body>

</html>